@font-face {
  font-family: "Unbounded";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Unbounded Bold'), local('Unbounded-Bold'),
  url("../fonts/unbounded-bold.woff2") format("woff2"),
  url("../fonts/unbounded-bold.woff") format("woff"),
  url("../fonts/unbounded-bold.ttf") format("ttf");
}

@font-face {
  font-family: "Unbounded";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('Unbounded Medium'), local('Unbounded-Medium'),
  url("../fonts/unbounded-medium.woff2") format("woff2"),
  url("../fonts/unbounded-medium.woff") format("woff"),
  url("../fonts/unbounded-medium.ttf") format("ttf");
}

@font-face {
  font-family: "Unbounded";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Unbounded Regular'), local('Unbounded-Regular'),
  url("../fonts/unbounded-regular.woff2") format("woff2"),
  url("../fonts/unbounded-regular.woff") format("woff"),
  url("../fonts/unbounded-regular.ttf") format("ttf");
}


@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local('Inter SemiBold'), local('Inter-SemiBold'),
  url("../fonts/inter-semibold.woff2") format("woff2"),
  url("../fonts/inter-semibold.woff") format("woff"),
  url("../fonts/inter-semibold.ttf") format("ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Inter Regular'), local('Inter-Regular'),
  url("../fonts/inter-regular.woff2") format("woff2"),
  url("../fonts/inter-regular.woff") format("woff"),
  url("../fonts/inter-regular.ttf") format("ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: local('Inter LightBETA'), local('Inter-LightBETA'),
  url("../fonts/inter-lightbeta.woff2") format("woff2"),
  url("../fonts/inter-lightbeta.woff") format("woff"),
  url("../fonts/inter-lightbeta.ttf") format("ttf");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local('OpenSans SemiBold'), local('OpenSans-SemiBold'),
  url("../fonts/opensans-semibold.woff2") format("woff2"),
  url("../fonts/opensans-semibold.woff") format("woff"),
  url("../fonts/opensans-semibold.ttf") format("ttf");
}

@font-face {
  font-family: "Rubik";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('Rubik Medium'), local('Rubik-Medium'),
  url("../fonts/rubik-medium.woff2") format("woff2"),
  url("../fonts/rubik-medium.woff") format("woff"),
  url("../fonts/rubik-medium.ttf") format("ttf");
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --white-opacity: 255, 255, 255;
  --black: #0A0A0A;
  --black-opacity: 0, 0, 0;
  --blue: #1B3F86;
  --pale-blue: #203975;
  --green-blue: #0AD9B3;
  --dark: #2A2F2F;
}

/* применение var(--white); */

.visually-hidden:not(:focus):not(active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: var(--white);
}

button {
  border: none;
  outline: none;
  background-color: initial;
  cursor: pointer;
  font-family: "Unbounded", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
}

input {
  outline: none;
  font-family: "Unbounded", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  border: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0 0 10px 10px;
}

html.fixed-safari {
  height: calc(100vh + 80px);
  overflow: hidden;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html.fixed-safari::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

body.fixed-safari {
  height: 100%;
  position: relative;
  overflow: hidden;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body.fixed-safari::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

body.fixed {
  overflow: hidden;
}

.body__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  max-width: 1920px;
  font-family: "Unbounded", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--blue);
}

.body__container:after {
  background-image: url("../img/background-container.svg ");
  z-index: 9999;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 140px;
  padding: 20px 80px;
  gap: 240px;
  max-width: 1305px;
  margin: 0 auto;
  width: 100%;
}

.navigation__list {
  display: flex;
  gap: 30px;
  align-items: center;
  text-transform: uppercase;
}

.navigation__link {
  display: flex;
  font-size: 20px;
  line-height: 24px;
  padding: 15px 10px;
  font-weight: 500;
}

.logo {
  display: flex;
}

.navigation__item--active .navigation__link {
  font-weight: 700;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 1305px;
  margin: 0 auto;
  width: 100%;
  padding: 0 30px;
}

.promo__form {
  width: 350px;
}

.promo__form-registration {
  width: 460px;
}
.promo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.promo__buttons {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.promo__button--active {
  font-family: 'Open Sans', "Arial", sans-serif;
  font-weight: 600;
  color: var(--pale-blue);
  background-color: var(--green-blue);
  padding: 10px;
}

.promo__button {
  font-family: 'Rubik', "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  padding: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 25px;
  gap: 20px;
  background-color: var(--white);
  border: 1px solid var(--green-blue);
  color: var(--dark);
}

.form__title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Unbounded", "Arial", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: var(--dark);
}

.form__label {
  font-family: 'Inter', "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.form__input {
  padding: 5px 20px;
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--black);
  width: 100%;
  height: 40px;
}

.form__checked {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
}

.checkbox__input {
  display: none;
}

.checkbox__label {
  font-family: 'Inter', "Arial", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}

.checkbox__indicator {
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid var(--black);
  z-index: 1;
}

.checkbox__input:checked + .checkbox__indicator {
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 2px;
  z-index: 2;
}

.form__link-reset {
  text-decoration: underline;
  font-family: 'Inter', "Arial", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: var(--green-blue);
}

.form__button {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  gap: 5px;
  background-color: var(--green-blue);
  color: var(--pale-blue);
  min-width: 200px;
}

.form__slogan {
  font-family: 'Inter', "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: var(--dark);
}

.promo__mail {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0 0 0;
  font-family: 'Inter', "Arial", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.grid__group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}


.grid__subtitle {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__subtitle {
  font-family: 'Inter', "Arial", sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  width: 100%;
  height: 30px;
  color: var(--dark);
}

.form__text {
  font-family: 'Inter', "Arial", sans-serif;
  font-weight: 300;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  color: var(--dark);
}

.form__link {
  text-decoration: underline;
  color: var(--pale-blue);
}

/*
.promo__portal {
  display: flex;
  flex-direction: column;
}

.portal {
  position: absolute;
  width: 636px;
  height: 270px;
}

.portal__title {
  font-family: 'Unbounded', "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 50px;
  text-transform: uppercase;
  color: var(--pale-blue);
}

.img__stripe {

}

.portal__subtitle {
  font-family: 'Inter', "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  margin-top: 15px;
}

.promo__img2 {
  background-image: url("../img/image-children-.png");
}