@font-face {
  font-family: "Unbounded";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Unbounded Bold'), local('Unbounded-Bold'),
  url("../fonts/unbounded/unbounded-bold.woff2") format("woff2"),
  url("../fonts/unbounded/unbounded-bold.woff") format("woff"),
  url("../fonts/unbounded/unbounded-bold.ttf") format("ttf");
}

@font-face {
  font-family: "Unbounded";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('Unbounded Medium'), local('Unbounded-Medium'),
  url("../fonts/unbounded/unbounded-medium.woff2") format("woff2"),
  url("../fonts/unbounded/unbounded-medium.woff") format("woff"),
  url("../fonts/unbounded/unbounded-medium.ttf") format("ttf");
}

@font-face {
  font-family: "Unbounded";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Unbounded Regular'), local('Unbounded-Regular'),
  url("../fonts/unbounded/unbounded-regular.woff2") format("woff2"),
  url("../fonts/unbounded/unbounded-regular.woff") format("woff"),
  url("../fonts/unbounded/unbounded-regular.ttf") format("ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Inter Bold'), local('Inter-Bold'),
  url("../fonts/inter/inter-bold.woff2") format("woff2"),
  url("../fonts/inter/inter-bold.woff") format("woff"),
  url("../fonts/inter/inter-bold.ttf") format("ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local('Inter SemiBold'), local('Inter-SemiBold'),
  url("../fonts/inter/inter-semibold.woff2") format("woff2"),
  url("../fonts/inter/inter-semibold.woff") format("woff"),
  url("../fonts/inter/inter-semibold.ttf") format("ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('Inter Medium'), local('Inter-Medium'),
  url("../fonts/inter/inter-medium.woff2") format("woff2"),
  url("../fonts/inter/inter-medium.woff") format("woff"),
  url("../fonts/inter/inter-medium.ttf") format("ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Inter Regular'), local('Inter-Regular'),
  url("../fonts/inter/inter-regular.woff2") format("woff2"),
  url("../fonts/inter/inter-regular.woff") format("woff"),
  url("../fonts/inter/inter-regular.ttf") format("ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: local('Inter Light'), local('Inter-Light'),
  url("../fonts/inter/inter-light.woff2") format("woff2"),
  url("../fonts/inter/inter-light.woff") format("woff"),
  url("../fonts/inter/inter-light.ttf") format("ttf");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local('OpenSans SemiBold'), local('OpenSans-SemiBold'),
  url("../fonts/opensans/opensans-semibold.woff2") format("woff2"),
  url("../fonts/opensans/opensans-semibold.woff") format("woff"),
  url("../fonts/opensans/opensans-semibold.ttf") format("ttf");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local('OpenSans SemiBold'), local('OpenSans-SemiBold'),
  url("../fonts/opensans/opensans-semibold.woff2") format("woff2"),
  url("../fonts/opensans/opensans-semibold.woff") format("woff"),
  url("../fonts/opensans/opensans-semibold.ttf") format("ttf");
}

@font-face {
  font-family: "Rubik";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('Rubik Medium'), local('Rubik-Medium'),
  url("../fonts/rubik-medium.woff2") format("woff2"),
  url("../fonts/rubik-medium.woff") format("woff"),
  url("../fonts/rubik-medium.ttf") format("ttf");
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --white-opacity: 255, 255, 255;
  --black: #0A0A0A;
  --black-opacity: 0, 0, 0;
  --blue: #1B3F86;
  --pale-blue: #203975;
  --green-blue: #0AD9B3;
  --dark: #2A2F2F;
}

/* применение var(--white); */

.visually-hidden:not(:focus):not(active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: var(--white);
}

button {
  border: none;
  outline: none;
  background-color: initial;
  cursor: pointer;
  font-family: "Unbounded", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
}

input {
  outline: none;
  font-family: "Unbounded", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  border: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0 0 10px 10px;
}

html.fixed-safari {
  height: calc(100vh + 80px);
  overflow: hidden;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html.fixed-safari::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

body.fixed-safari {
  height: 100%;
  position: relative;
  overflow: hidden;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body.fixed-safari::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

body.fixed {
  overflow: hidden;
}

.body__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  max-width: 1920px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--blue);
  background-image: url("../img/images-png/background-body.png");
  z-index: 9999;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 140px;
  padding: 20px 80px;
  gap: 240px;
  max-width: 1305px;
  margin: 0 auto;
  width: 100%;
}

.navigation__list {
  display: flex;
  gap: 30px;
  align-items: center;
  text-transform: uppercase;
}

.navigation__link {
  display: flex;
  font-family: "Unbounded", "Arial", sans-serif;
  font-size: 20px;
  line-height: 24px;
  padding: 15px 10px;
  font-weight: 500;
}

.logo {
  display: flex;
}

.navigation__item--active .navigation__link,
.navigation__link:hover {
  font-weight: 700;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 1305px;
  margin: 0 auto;
  width: 100%;
  padding: 0 30px;
  gap: 80px;
}

.promo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.promo__img {
  margin: 0 0 0 -15px;
}

.promo__buttons {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.promo__button {
  font-family: 'Rubik', "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  padding: 10px;
  transition: 0.3s;
}

.promo__button--active,
.promo__button:hover {
  color: var(--pale-blue);
  background-color: var(--green-blue);
  transition: 0.3s;
}

.promo__button--active {
  font-family: 'Open Sans', "Arial", sans-serif;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  padding: 20px 25px;
  gap: 20px;
  max-width: 350px;
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--green-blue);
  color: var(--dark);
}

.form--registration {
  max-width: 460px;
}

.form__title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Unbounded", "Arial", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: var(--dark);
}

.form__label {
  font-size: 12px;
  line-height: 15px;
}

.form--registration .form__label {
  font-size: 10px;
}

.form__input {
  padding: 5px 20px;
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--black);
  width: 100%;
  height: 40px;
}

.form__checked {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
}

.checkbox__input {
  display: none;
}

.checkbox__label {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}

.checkbox__indicator {
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid var(--black);
}

.checkbox__input:checked + .checkbox__indicator:after {
  content: url("../img/images-svg/check.svg");
  position: absolute;
  left: 3px;
}

.form__sky {
  text-decoration: underline;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: var(--green-blue);
}

.form__column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  gap: 5px;
  font-size: 16px;
  line-height: 15px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--green-blue);
  color: var(--pale-blue);
  min-width: 200px;
}

.form__slogan {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: var(--dark);
}

.social {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0 0;
}

.text--bold {
  font-weight: 500;
}

.form__wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.form--registration .form__group {
  gap: 2px;
}

.form__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}


.grid__subtitle {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__subtitle {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  width: 100%;
  color: var(--dark);
}

.form__text {
  font-weight: 300;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  color: var(--dark);
}

.form__link {
  text-decoration: underline;
  color: var(--pale-blue);
}

.portal {
  display: flex;
}

.portal__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 55px 0 0 0;
  max-width: 636px;
  flex-shrink: 0;
}

.title {
  position: relative;
}

.title__text {
  font-family: 'Unbounded', "Arial", sans-serif;
  font-weight: 500;
  font-size: 34px;
  line-height: 50px;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.title__stripes {
  position: absolute;
  left: -100px;
  bottom: 30px;
  z-index: 1;
}

.portal__group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.text {
  font-size: 18px;
  line-height: 24px;
}

.portal__img {
  margin: 0 -50px 0 -90px;
}

.application {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.title--center {
  margin: 0 auto;
}

.title__stripes--blue {
  left: auto;
  right: -115px;
  bottom: -30px;
}

.application__list {
  display: flex;
  flex-direction: column;
  gap: 70px;
  max-width: 100%;
}

.application__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.application__inner {
  display: flex;
  align-items: center;
}

.application__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 660px;
}

.application__content--full {
  max-width: none;
}

.application__subtitle {
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  text-transform: uppercase;
}

.application__group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.button--big {
  min-width: 310px;
  min-height: 60px;
  font-size: 18px;
  line-height: 20px;
  padding: 10px 10px;
}

.document {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title__stripes--left {
  left: -128px;
}

.document__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.document__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 738px;
}

.document__item {
  display: flex;
  align-items: center;
  padding: 20px 25px;
  gap: 60px;
  background-color: var(--white);
}

.text--black {
  color: var(--dark);
}

.document__img {
  margin: -46px 0 0 0;
}

.button--middle {
  min-width: 210px;
  min-height: 50px;
}

.footer {
  max-width: 1920px;
  background-color: var(--black);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  max-width: 1305px;
  min-height: 170px;
  margin: 0 auto;
  width: 100%;
  padding: 0 30px;
}

.footer__wrap {
  display: flex;
  align-items: center;
  gap: 27px;
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text--copyright {
  font-size: 20px;
  line-height: 24px;
}

.text__copyright--small {
  font-size: 16px;
  line-height: 20px;
}

.footer__social {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 23px;
}


